
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
section {
 max-width: 350px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
}
.down {
    text-align: center;
    padding: 15px;
}
.down p {
    color: hsl(220, 15%, 55%);
    font-size: 20px;
}
.img_div img{
    border-radius: 10px;
    max-width:100%;
}
